<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" type="text/css" href="/css/product.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

  </head>
  <body>
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
          <a class="py-2 d-none d-md-inline-block" href="/">Back</a>
        </div>
      </nav>
  
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 font-weight-normal">My App Showcase</h1>
          <p class="lead font-weight-normal">9W5K is my personal project that I built from the ground up. All the other apps below are apps I worked on professionally in teams.</p>
          <a class="btn btn-outline-secondary" href="/">About Me</a>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
      </div>
  
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-warning mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">9Week 5K</h2>
            <p class="lead">Swift</p>
            <p class="lead">Coming Soon</p>
          </div>
          <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img class="phoneView"
                src="/img/run.png"/> 
          </div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">BGE</h2>
            <p class="lead">Swift && Java</p>
            <p class="lead">
              <a class="downloadBadge ios" href="https://itunes.apple.com/us/app/bge-an-exelon-company/id1274170174?mt=8"></a>
              <a class="downloadBadge android" href='https://play.google.com/store/apps/details?id=com.exelon.mobile.bge&hl=en_US&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'></a>
            </p>
          </div>
          <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img class="phoneView"
            src="/img/bge.jpeg"/> 
          </div>
        </div>
      </div>
  
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
          <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
              <div class="my-3 py-3">
                <h2 class="display-5">Spotswash</h2>
                <p class="lead">Swift && Kotlin</p>
                <p class="lead"><a class="downloadBadge ios" href="https://itunes.apple.com/us/app/spotswash/id1375712148?mt=8"></a>
                <a class="downloadBadge android" href="https://play.google.com/store/apps/details?id=com.spotswash.app"></a>
              </p>
              </div>
              <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <img class="phoneView"
                src="/img/spotswash.jpeg"/> 
              </div>
            </div>

        <div class="bg-success mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">Roadnet Mobile</h2>
            <p class="lead">Java && [ObjC] </p>
            <p class="lead>">
                <a class="downloadBadge ios" href="https://itunes.apple.com/us/app/roadnet-mobile/id853428975?mt=8"></a>
                <a class="downloadBadge android" href="https://play.google.com/store/apps/details?id=com.roadnet.mobile.amx.demo.ra"></a>

              
            </p>
          </div>
          <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img class="phoneView"
            src="/img/fleetview.png"/>
          </div>
        </div>
                
      </div>
  
  </body>
</html>